$color-basic: #F1CDB3;
$color-ligth: #FDDCC4;
$color-ligth-s: #FAFAFA;
$color-ligth-l: #F6F6F6;
$color-ligth-xl: #fff;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$font-arial: Arial, sans-serif;
$font-geo: Georgia;
$back-screen: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$back-footer: url(/assets/images/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
$tablet: 1279px;
$mobile: 767px;


