$color-basic: #F1CDB3;
$color-ligth: #FDDCC4;
$color-ligth-s: #FAFAFA;
$color-ligth-l: #F6F6F6;
$color-ligth-xl: #fff;
$color-dark-s: #CDCDCD;
$color-dark-m: #B2B2B2;
$color-dark-l: #545454;
$color-dark-xl: #4C4C4C;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$font-arial: Arial, sans-serif;
$font-geo: Georgia;
$back-screen: url(/assets/images/noise_transparent.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
$back-footer: url(/assets/images/noise_transparent.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
$tablet: 1279px;
$mobile: 767px;

$left-page1: 0px;
$left-page2: -1240px;
$left-page3: -2480px;
$left-page4: -3720px;
$left-page5: -4960px;
$left-page6: -6200px;





$left768-page1: 0px;
$left768-page2: -620px;
$left768-page3: -1240px;
$left768-page4: -1860px;
$left768-page5: -2480px;
$left768-page6: -3100px;
$left768-page7: -3720px;
$left768-page8: -4340px;


$left320-page1: 0px;
$left320-page2: -310px;
$left320-page3: -620px;
$left320-page4: -930px;
$left320-page5: -1240px;
$left320-page6: -1550px;
$left320-page7: -1860px;
$left320-page8: -2170px;
$left320-page9: -2480px;
$left320-page10: -2790px;
$left320-page11: -3100px;
$left320-page12: -3410px;
$left320-page13: -3720px;
$left320-page14: -4030px;
$left320-page15: -4340px;
$left320-page16: -4650px;
$left320-page17: -4960px;
$left320-page18: -5270px;





